h2{
    text-align: center;
}

body {
    background-color: lightskyblue;
}

table {
    border: solid black;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    background-color: whitesmoke
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

